button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.3125rem;
	color: var(--white);
	border: none;
	font-size: 1.125rem;
	font-weight: 600;
	width: 100%;
	border-radius: 0.5rem;
	background: var(--colors-purple-950);
	transition: all ease .4s;
}

button:hover {
	cursor: pointer;
	transform: translateY(-2px);
}

button:focus {
	outline-offset: 2px;
}

.button-container{
	width: 100%;
}