button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 3.3125rem;
	color: white;
	background-color: var(--green-600);
	border: none;
	font-size: 16px;
	font-weight: 600;
	margin: 1rem 0;
	width: 100%;
	border-radius: 0.5rem;
	background: var(--colors-purple-950);
	transition: all ease .4s;
}

button:hover {
	cursor: pointer;
	transform: translateY(-2px);
}

button:focus {
	outline-offset: 2px;
}

.button-container{
    
}