/* Card User Responses */
.front-card-values {
      width: 27.9375rem;
      height: 15.3125rem;
      padding: 1.75rem 2rem;
      position: absolute;
      /* border: solid purple; */
      z-index: 200;
      text-align: left;
}

.front-card-values .card-logo {
      display: flex;
      margin-bottom: 4rem;
}

.front-card-values p {
      z-index: 101;
      color: var(--white);
      font: var(--text-preset1-space-grotesk-medium);
      text-transform: uppercase;
      letter-spacing: 0.21875rem;
      margin-bottom: 1.5rem;
}

.second-row{
      display: flex;
      justify-content: space-between;
}

p.cardName {
      font-size: 0.875rem;  /* override the present font size */
      letter-spacing: 0.125rem;
}

p.expDate {
      text-align: right;
      font-size: 0.875rem;  /* override the present font size */
      letter-spacing: 0.125rem;
}
